*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family:'Nunito Sans', sans-serif;
    background-color:#363333 ;
}

img{
    display: block;
    margin: 2rem auto;
    border-radius: 100px;
    padding: 6px;
    border: 1px solid #F6E9E9;
    object-fit:cover;
}

h1{
    font-family: 'Caveat', cursive;
    color: #F6E9E9;
    font-size: 2.5rem;    
    font-weight: 700;
    text-align: center;

}

svg{
    display: block;
    margin: 0.5rem auto;
}

h2{
    color: #A19090;
    text-align: center; 
    font-size: 1.25rem;
    font-weight: 300;
    margin-bottom: 2rem;
}

a{
    color: #E16428;
    padding:1rem 54px;
    border:2px solid #E16428;
    font-size:1.25rem;
    font-weight: 300;
    text-transform: uppercase;
    text-decoration: none;
    max-width: 280px;
    border-radius:100px ;
    display: block;
    margin:1.5rem auto ;
    text-align: center;
    transition: 0.2s;
    box-shadow: 0 4px 4px rgba(0,0,0,0.25);
}

a:active{
    transform: scale(0.9);
    background-color: #E16428;
    color: #000;
}